/* Universal static cosmetic changes */

body {
    background-color:#444a47;
}
p {
    background-color:#ff6347;
    border: 2px solid powderblue;
    margin: 50px;
}
a:link {
    color: pink;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: pink;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: pink;
    background-color: transparent;
    text-decoration: none;
  }
  table, th, td {
    border:1px solid black;
  }

  /* Alignment */
  .center {
    margin: auto;
    width: 50%;
  }

  /* Things to apply to text */
  .stroke
  {
    color: white;
    text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;  
}
  .strokeThin
  {
      color: white;
      text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;  
  }
  .weirdText
  {
    color: white;
    text-shadow:
    -2px -10px 0 #000,
    2px -3px 0 #000,
    -3px 10px 0 #000,
    2px 5px 0 #000;  
}
.shadowFar
  {
    color: white;
    text-shadow:
    100px -15px 0 #000,
    0px -5px 0 #000,
    0px 5px 0 #000,
    0px 10px 0 #000;  
}
.shadowLeft
  {
      color: white;
      text-shadow:
      -3px 3px 0 #000,
      1px 3px 0 #000,
      -3px -3px 0 #000,
      1px 3px 0 #000;  
  }